
/* Position Fixed */
main > .fixed{
    width: 100px;
    height: 100px;
    background: red;

    /* Position Fixed */
    position: fixed;
    top: 100px;
    right: 100px;
}

/* Positon Stikey */
/* We can stick the ele using position:sticky with top: or right: or bottom: oR left: we can give when it stick
like mouse after mouse goes on 0px so stick */
.sticky{
    width: 50vw;
    height: 10vh;
    background: red;

    position: sticky;
    /* but when */
    top: 0px;
}

/* Position Relative OR Absolute */
body,main,section,div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Position: relative and Absolute */
main{
    width: 500px;
    height: 500px;
    background-color: rgb(30, 102, 219);
}

section{
    width: 300px;
    height: 300px;
    background-color: rgb(34, 255, 0); 
}
div{
    width: 50px;
    height: 50px;
    background-color: rgb(255, 0, 0);

    /*Position: relative==> it takes ref from the current positon to change there position */
    /* position: relative;
    top: 100px; */

    /* ################################## */
    /*Position:absolute==> it takes ref from 1st check is my 1st parent ele has any positon applied if yes then it takes ref from it. But if no so it again ask to 2nd parent is any position property applied if yes so takes from 2nd parrent but if no any parent ele applied position property so it directly takes ref from the viewport */
    position: absolute;
    top: 100px;
}