/* Whole Body */
*:not(input){
    margin: 0;
    padding: 0;
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #282c3f;
    font-size: 15px;
    /* border: 1px solid; */
}


/* Nav bar */
nav{
    height: 13vh;
    width: 99.9%;
    border: 1px solid red;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: white;

}

/* To sticky the header nav bar */
header{
    position: sticky;
    top: 0px;
}

/* Navbar tabs */
/* nav a{
    border: 1px solid rgb(0, 13, 255);
} */

/* Website Logo */
.imglogo{
    width: 55px;
    /* margin-top: 5px; */
    /* height: 36px; */
}

/* NEW work on head of STUDIO TAB */
sup{
    font-size: 10px;
    color: #ff3f6c;
}


/* nav > a{
    
} */

/* Navbar Icons */
[type = search]{
    width: 100%;
    height: 100%;
    /* text-align: center; */
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    color: #282c3f;
    font-size: 15px;
    border: none;
    background-color: #f5f5f6;
    border-radius: 4px;
    
}

/* div: svg and search */
.input{
    display: flex;
    align-items: center;
    width: 28%;
    height: 45%;
    border: 1px solid #eaeaf0;
    background-color: #f5f5f6;
    border-radius: 4px;
}

/* Remove the box border when we focused on filed */
input:focus{
    outline: none;      
    box-shadow: none;   
    border: none;   
    background-color: white;
}

/* Nav Bar Icons */
.navicons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid red; */
    width: 130px;
    column-gap: 30px;
}

.navicons > article{
    /* border: 1px solid red; */
    text-align: center;
}

/* Profile Icon */
.fa-user{
    font-size: 1.5em;
}

/* Wishlist Icon */
.fa-heart{
    font-size: 1.5em;
}

/* Bag Icon */
.fa-bag-shopping{
    font-size: 1.5em;
}

/* Icons Text */
.navicons p{
    font-family: "Assistant", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
    color: #000;
    font-size: 10px;
}

/* Header Section Timer div */
.timer{
    height: 9.5vh;
    width: 100%;
    /* border: 1px solid red; */
    background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);

    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.2); */
}

/* Inside the timer div paragraph */
.timerpara, .timerpara sub, .timerpara span{
    font-family: helvetica, arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
    color: #282c3f;
    font-size: 15px;
}

/* Inside the timer div all pink color timer */
.timerpara span{
    font-size: 1.4em;
    color: #ff3f6c;
}

/* inside the timber div small i.e sub char */
.timerpara small{
    font-weight: 400;
    color: #535766;
}

/* Timer div text color */
.timer > p{
    font-weight: 400;
    color: #535766;
    letter-spacing: 0.5px;
}


/* Main body 1st top img */
main > div:first-child > a{
    width: 99.9%;
    height: 29vh;
    /* border: 1px solid red; */

    display: flex;
    align-items: end;
    justify-content: center;
}

/* Main body 1st top img size*/
[src *="img1.jpg"]{
    width: 85%;
}

/* top 2nd left img + right img */
.leftRightimg{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main body top 2nd left img + right img */
main > div:nth-child(2) > div{
    width: 85vw;
    height: 46vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
}

/* img main body gif img and below 2 imgs box */
main + main > div{
    width: 85vw;
    height: 20vh;
    /* border: 1px solid red; */
}

/* 2nd main body last 3 imgs from gif */
main + main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main + main > div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* usecode container */
.usecode{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* use code 2 imgs */
.usecode > a img{
    width: 100%;
}

/* last sky-highlight img container */
main + main > div:nth-child(3){
    display: flex;
    justify-content: center;

}

/* last sky-highlight img */
main + main > div:nth-child(3) img{
    width: 100%;
}

/* cardsRow1 Container */
.cardsRow1{
    width: 99.9%;
    height: 300px;
    /* border: 1px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
}

/* cardsRow1 all cards container */
.cardsRow1 > section{
    width: 17vw;
    height: 20vw;
    /* border: 1px solid red; */
    display: flex;
}


/* cardsRow1 img 1 */
.cardsRow1 > section:nth-child(1) a{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    background-image: url(./assets/img8.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* cardsRow1 img 2 */
.cardsRow1 > section:nth-child(2) a{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    background-image: url(./assets/img9.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* cardsRow1 img 3 */
.cardsRow1 > section:nth-child(3) a{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    background-image: url(./assets/img10.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* cardsRow1 img 4 */
.cardsRow1 > section:nth-child(4) a{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    background-image: url(./assets/img11.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* cardsRow1 img 5 */
.cardsRow1 > section:nth-child(5) a{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    background-image: url(./assets/img12.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* explorebyCategory container*/
#explorebyCategory{
    width: 99.9%;
    height: 150px;
    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    align-items: center;

}

/* explorebyCategory container */
#explorebyCategory a{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* explorebyCategory img */
[src *= "img13.jpg"]{
    width: 80%;
}

/* cardsBody div container */
.cardsBody{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;

}

/* cardsBody articles container */
.cardsBody > article {
    /* border: 1px solid red; */
    width: 90%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 19px;
}

/* cardsBody all sections */
.cardsBody > article > section{
    /* border: 1px solid red; */
    width: 12vw;
    height: 18vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* All Cards a tags and img tags */
.cardsBody > article > section > a, img{
    width: 100%;
    height: 100%;
}

/* All Cards anchor tag  */
.cardsBody > article > section > a{
    display: flex;
    justify-content: center;
    align-items: center;
}


/* offer Verticl img at right mid*/
.offerVerticlimg [src *= img38]{
    width: 45px;
    height: 288px;
    position: fixed;
    top: 200px;
    right: 0px;
}

/* Footer Container */
footer{
    /* border: 1px solid red; */
    width: 99.9%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* footer column 1, 2 */
footer > section:nth-child(1),section:nth-child(2){
    /* border: 1px solid red; */
    width: 15%;
    height: 50%;  

}

/* Footer column 3 */
footer > section:nth-child(3){
    /* border: 1px solid red; */
    width: 20%;
    height: 50%;  
}

/* Footer column 4 */
footer > section:nth-child(4){
    /* border: 1px solid red; */
    width: 34%;
    height: 50%; 
    display: flex;
    align-items: center; 
}

/* Column 1 small heading */
footer small{
    font-size: 13px;
}

/* column 1 content */
footer  p{
    font-weight: 500;
    color: #696b79;
    height: 3px;
} 

/* footer column 1 container */
footer > section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* footer last column */
footer > section:nth-child(4) strong, p{
    font-size: 16px;
}

/* Popular searchers section */
.popular{
    border: 1px solid red;
    width: 99.9%;
    height: 280px;
    
    display: flex;
    justify-content: center;
}

.popular > section{
    border: 1px solid red;
    width: 85%;
}

.popular > section > small{
    font-size: 12px;
}

hr{
    
    /* display: flex; */
    display: inline-block;
    width: 85.5%;
    border-top: 1px solid #e2e2e8;
    /* justify-content: end; */
}

.popular > section:nth-child(1) > p{
    font-weight: 500;
    text-decoration: none;
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
}
.contact{
    display: flex;
    justify-content: space-between;
}

.contact p{
   color: #696b79; 
   font-weight: 500;
}
.contact p strong{
    font-size: 1em;
    color: #526cd0;
}

.contact > p:nth-child(2),p:nth-child(3){
    color: #94969f;;
}
.hr2{
    width: 100%;
}

.popular > section:nth-child(2){
    border: 1px solid red;
    display: flex;
}


.address{
    
}